

<div class="row">
  <div class="col-12 col-sm-6 col-md-8">
    </div>
  
<div class="row mt-5">
  <div class="col-3 text-center">
    <i class="fas fa-code fa-10x vue-color d-none d-md-block"></i>
  </div>
  <div class="col-12 col-md-9">
    <h2><i class="fab fa-angular angular-color d-md-none mr-2"></i>REST API Development</h2>
    <p>We developer api using restful webservices .we cater to business where their front end application needs
      to create data driven applications
    </p>
    <p>Restful webservice are created using sprintboot framework . we use spring core libraries ,spring security
      and spring transaction management.We use AWS cloud for our deployment.
    </p>
    <button [routerLink]="['/portfolio']" [queryParams]="{filter:'Angular'}" mat-stroked-button>View More</button>
  </div>
</div>
<div class="row mt-5">
  <div class="col-12 col-md-9 text-right">
    <h2>JSON Web Token Security<i class="fab fa-react react-color d-md-none"></i> </h2>
    <p>JSON Web Tokens, commonly known as JWTs, are tokens that are used to authenticate users on applications. 
      our client applications that use JWTS no longer have to hold cookies or other session data about their users. 
      This characteristic facilitates scalability while keeping applications secure.</p>
    <p>For Authentication and authorization in our application we use  Spring Security and Redis Storage.
</p>
    <button [routerLink]="['/portfolio']" [queryParams]="{filter:'React'}" mat-stroked-button>View More</button>
  </div>
  <div class="col-3 text-center">
    <i class="fas fa-code-branch react-color fa-10x z d-none d-md-block"></i>
  
  </div>
</div>
<div class="row mt-5">
  <div class="col-3 text-center">
    <i class="fas fa-file-code fa-10x vue-color d-none d-md-block"></i>
  </div>
  <div class="col-12 col-md-9">
    <h2><i class="fab fa-vuejs vue-color d-md-none mr-2"></i>Data Persistence</h2>
    <p>Java Persistence API is our choice for data persistance. We can also work with different ORM solutions in 
     case  there is a requirement.
    </p>
    <p>We have lot of experience in fine tuning the application using JPA . Using Spring Boot we configure annotation
      based java persistence. We also work with second level cache like EhCache in case of multipage application
    
    </p>
    <button  [routerLink]="['/portfolio']" [queryParams]="{filter:'Vue'}" mat-stroked-button>View More</button>
  </div>
</div>

<div class="portfolio-preview">
 

</div>
