

<div class="col-12 col-sm-6 col-md-8">
</div>
<div class="row">
 
  
<div class="row mt-5">
  <div class="col-3 text-center">
    <i class="fas fa-align-right  fa-10x vue-color d-none d-md-block"></i>
  </div>
  <div class="col-12 col-md-9">
    <h2><i class="fab fa-angular angular-color d-md-none mr-2"></i>Microservices  Consultancy</h2>
    <p>Having issues with your project or starting Microservices Project .  </p>
    <p>I have assisted many companies build both  monoliths and microservice applications .
      I can help build services using latest data and communication patterns.
      Legacy application needs a upgrade to ensure scalability and data consistency in a microservice architecture , I can assist in this area.  </p>
  </div>
</div>
<div class="row mt-5" >
  <div class="col-12 col-md-9 text-right">
    <h2>Hiberate JPA Consultancy <i class="fal fa-cloud  d-md-none"></i> </h2>
    <p>Work with me if you have to implement persistence or if you are already working with hibernate.
      I can guide you to design, develop and implement the solution.I can help and assist for database migration.
      I can have training related to you if team requires a fresh start.Performance is area where companies needs constant improvement , I provide tools and technique to resolve performance issues.
      I have created a course to learn Hibernate (JPA ) faster .Please visit <b style="color:green;font-size:120%">Learn Hibernate in 5 Days</b> blog , The course is structured to complete one blog a day. 
      </p>
    
  </div>
  <div class="col-3 text-center">
    <i class="fas fa-align-right  fa-10x vue-color d-none d-md-block"></i>
  </div>
</div>

</div>

<div class="portfolio-preview">
 

</div>
