h2 { 
   font-size: 1.5em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    font-family: "Merriweather", serif;
    color: rgb(102, 119, 124);
  }
  h3 { 
    
    font-size: 0.9em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    background: #F7FAFB;
    margin-right: 0;
  
    font-family: "Merriweather", serif;
  }

  a {
    background-color: rgb(54, 119, 54);
  box-shadow: 0 5px 0 rgb(8, 73, 8);
  color: white;
  padding: 0.2em 0.5em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  background-color: rgb(127, 151, 127);
  cursor: pointer;
}

a:active {
  box-shadow: none;
  top: 5px;
}
